
/* ==================================================
                      GLOBAL STYLE
   ================================================== */
.ViewNavigation { margin: 0px 0px 3px 0px; }
.ListingTabPanel { text-align: left; width: 100%; }
@media screen { .FooterPanel { background-color: #EEF2FB; margin-top: 3px; height: 27px; } }
@media print { .noPrint { display:none; }.FooterPanel { display:none; } }
.MenuItemSpacer { width: 63%; }
.welcomemessage {
    white-space: nowrap;
    font-size: 10pt;
    font-weight: bold;
    margin-left: 10px;
}

.MenuItemMyProfile {
    width: 67px;
    height: 27px;
    background-image: url("/images/MyProfile.png");
    cursor: pointer;
}
.MenuItemPrint { display: none; }
.MenuItemList-inactive {
	width: 58px;
    cursor: default;
	color: #f8aa1b;
}
.MenuItemList {
	width: 58px;
    cursor: pointer;
	color: #6D6E71;
}
.MenuItemMap-inactive {
	width: 58px;
    cursor: default;
	color: #f8aa1b;
}
.MenuItemMap {
	width: 58px;
    cursor: pointer;
	color: #6D6E71;
}
.MenuItem {
	margin-top: 2px;
	float: left;
}

/* ==================================================
                         LIST VIEW
   ================================================== */

.ContentPanel { font-size: 14px; line-height: 1.4; color: #333333; }
.listing-panel { overflow: hidden; min-width: 940px; padding: 0; margin-bottom: 15px;}

/* ==================================================
   LIST VIEW FOR SEPERATION OF LOAN & CRE ONLY START
   ================================================== */
   
.listing-panel-loan { overflow: hidden; min-width: 940px; padding: 0; margin-bottom: 15px; background-color: #e3f1f5;   }

.project-image-panel-loan {
	width: 180px;
	height: 140px;
	margin-right: 16px;
	float: left;
	position: relative;
	z-index: 90;
}
.ribbon-project-image-panel-loan-blue {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-blue {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-blue:before, .ribbon-blue:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-blue:before {
  left: 0;
}
.ribbon-blue:after {
  right: 0;
}?

/* ==================================================
   LIST VIEW FOR SEPERATION OF LOAN & CRE ONLY END
   ================================================== */
#rcmPnlCurrentContent_infobox_content { 	font-size: 12px; }
.listing-panel-map { 
	overflow: hidden; 
	min-width: 630px; 
	padding: 0 5px 15px 5px; 
	font-size: 12px;
	line-height: 1.4;
}
.title-row { width: 940px; height: 25px; background-color: #007BA8; color: white; padding: 3px; margin-bottom: 5px; white-space: nowrap; font-size: 14px; }
.title-row-map { width: 630px; /*old height: 18px;*/height: 25px; background-color: #007BA8; color: white; padding: 3px; margin-bottom: 5px; white-space: nowrap; font-size: 14px; }
.project-name-panel {
	float: left;
	width: 395px;
	font-weight: bold;
	overflow: hidden;
	text-transform:uppercase;
}
#RcmEngineContent div.project-name-panel a, #RcmEngineContent div.project-name-panel a:link, #RcmEngineContent div.project-name-panel a:visited { color: white; }
.project-name-panel-map { 
	width: 625px; 
	height: 25px;
	float: none;
}
.assettype-panel {
	float: left;
	width: 245px;
	overflow: hidden;
}
.city-panel {
	float: left;
	width: 225px;
	overflow: hidden;
}
.state-panel {
	float: left;
	width: 50px;
	overflow: hidden;
}
.project-name-panel a:link,.project-name-panel a:visited,.project-name-panel a:hover,.project-name-panel a:active { color:white;text-decoration:none; }
.project-image {
    border: 1px solid #4C96B6;
    height: 140px;
    width: 180px;
	margin-right: 15px;
}

a.more-info-button {
	display: block;
	font-weight: bold;
	padding: 4px 6px 4px 6px;
	width: 90px;
	text-align: center;
	text-decoration: none;
	background-color: #007BA8;
	color: white !important;
	border: 1px solid #bebebe;
	position: absolute;
	bottom: 0px;
}

.project-image-panel {
	float: left;
}
.project-fields-panel {
	min-width: 200px;
	position: relative;
	float: left;
	height: 142px;
}
.contact-panel {
	float: left;
	min-width: 200px;
	height: 175px;
	padding-left: 10px;
	white-space: nowrap;
	border-left: 1px solid #D4D3D3;
}
.individual-contact-panel { margin-bottom: 8px; }
.bidding-panel {
	float: right; 
	width: 300px; 
	height: 142px; 
	padding-left: 10px;
	white-space: nowrap;
	border-left: 1px solid #D4D3D3;
}
.bidding-panel table { font-size: 12px; line-height: 1.4; }
.field-label {
    float: left;
	white-space: nowrap;
	width: 80px;
}

.field-value {
	white-space: nowrap;
	width: 100px;
}

.FilterWrapper { padding-right: 10px; }
.FilterPanel { margin-bottom: 3px; width: 100%; height: 30px; }
.FilterText { font-weight: bold; font-size: 12px; white-space: nowrap; }
.Filter { font-size: 11px; width: 110px; height: auto; }
.LabelText { padding-top: 2px; }

#btnSearch { width: 65px; }
#btnMapShowAll, #btnPageResults { font-size: 10px; width: 65px; }
#FilterProjectState { width: 55px; }
#FilterProjectSort { width: 150px; }

.i { border: 1px solid #006F98; height: 140px; width: 180px; }

.HeaderPropertyLocation
{
    font-size: 10pt;
    color:#006699;
    white-space: nowrap;
}

.HeaderPropertyStatus
{
    color:#4C96B6;
    font-size: 10pt;
    white-space: nowrap;
}

.ListImageCell
{
    width: 120px;
    height: 90px;
    padding-left: 0px;
    padding-right: 0px;
    white-space: nowrap;
    vertical-align: top;
}

.PropertyInfoLabel
{
	color: #333;
	float: left;
	font-size: 11px;
	font-weight: bold;
	white-space: nowrap;
}

.Separator
{
    font-size: 1px;
    height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.PropertyInfo
{
	font-size: 11px;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

.propinfobox
{
	margin-left: 190px;
    zoom: 1.0;
}

.propdata
{
	color: #333;
	font-size: 11px;
	margin-left: 0px;
	width: 713px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.propdata
	{
		width: 99%; /*Safari and Google Chrome */
		margin-left: 0.8px;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.propstatus
	{
		/*Safari and Google Chrome */
		margin-right: 10px;
	}
}
.propstatus
{
	float: right;
	white-space: nowrap;
	color: #4C96B6;
	font-size: 12px;
	font-weight: bold;
}
.TypeLocation
{

}

#RcmEngineContent div a:link, #RcmEngineContent div a:visited {
    color: #4C96B6;
	text-decoration:none;

}

#RcmEngineContent div a:hover {
    color: #4C96B6;
	text-decoration:none;
}

.PropertySummary
{
	font-weight: normal;
    font-size: 11px;
    text-align: left;
    vertical-align: bottom;
    color:#666666;
    padding-top: 3px;
}

.FooterPanelText
{ 
	visibility: hidden;
	color: #4A4A4A !important;
    font-size: 11px;
    font-weight: bold;
    height: 1em;
    margin-top: 0.5em;
    margin-left: 310px;
	position: relative;
    top: 7px;
}

a.PoweredByLink {
    font-size: 11px;
	margin-right: 10px;
	font-weight: bold;
}

a.PoweredByLink:link {
    color:#006699;
}
a.PoweredByLink:visited   {
    color:#006699;
}
a.PoweredByLink:hover   {
    color:#006699;
}
a.PoweredByLink:active   {
    color:#006699;
}

#ListingsDataPager
{
    vertical-align: top;
    font-size:15px;
}

.forceblack
{
	color: #000 !important;
}

.pager-command-btn
{
    padding:0px 0px;
	vertical-align:middle;
}
.pager-command, .pager-current
{
    color:#5a90ce;
    padding:0px 4px;
    text-decoration:none;
    border:none;
	font-size: 1.0em;
}
A.pager-command:hover
{
    color:#fff;
    text-decoration:none;
	font-size: 1.0em;
}
.pager-current
{
    border:none;
    font-weight:bold;
    color:#3e3e3e;
    font-size: 1.0em;
}

a.pager-command:link
{
    font-size: 1.0em;
}

/* ==================================================
                         MAP VIEW
   ================================================== */
.MapViewPanel
{
    position:relative;
    width: 100%;
       height: 525px;

}

.MapListPanel
{
    width: 0px;
    display: none;
    visibility: hidden;

    overflow-y: scroll;
    overflow-x: hidden;
    height: 525px;

}

.MapListSeparator
{
    background-color: #CCCCCC;
    width: 270px;
    height: 3px;
}

.RcmMiniPinStyle
{
    background: url("/images/RcmMiniPin.gif") no-repeat 0 0 ;
    height:20px;
    width:20px;
    color:#fff;
    text-align:center;
    font: bold 10px Arial;
    cursor: pointer;
}

.RcmPinStyle
{
    position:relative;
    background: url("/images/RcmPin.gif") no-repeat 0 0;
    width:27px;
    height:26px;
    color:#fff;
    text-align:center;
    font: bold 12px Arial;
    cursor: pointer;
}

.RcmPinStyle .text
{
    position: relative;
    top: 2px;
}

.RcmClusteredPinStyle
{
    position:relative;
    background: url("/images/RcmClusteredPin.png") no-repeat 0 0;
    height:30px;
    width:28px;
    top:-15px;
    color:#fff;
    text-align:center;
    font: bold 12px Arial;
    cursor: pointer;
}

.RcmClusteredExpandedPinStyle
{
    position:relative;
    background: url("/images/RcmClusteredExpandedPin.png") no-repeat 0 0;
    height:30px;
    width:28px;
    top:-15px;
    color:#fff;
    text-align:center;
    font: bold 12px Arial;
    cursor: pointer;
}

.MapListHeader
{
    height:25px;
    vertical-align: middle;
    font-size: 10pt;
    white-space: nowrap;
    color: #FFFFFF;
}

.MapPinDescriptionLoading
{
    width: 440px;
    height: 50px;
}

.MapPinDescription
{
    width: 440px;
}

a.MapPropertyNameAnchor:link {
    color:#0000FF;
    text-decoration: none;
}
a.MapPropertyNameAnchor:visited   {
    color:#CCCCCC;
    text-decoration: none;
}
a.MapPropertyNameAnchor:hover   {
    color:#CCCCCC;
    text-decoration: none;
}
a.MapPropertyNameAnchor:active   {
    color:#CCCCCC;
    text-decoration: none;
}

.PropertyLocation
{
    font-weight: bold;
    font-size: 10pt;
    text-align: left;
    white-space: nowrap;
    vertical-align: bottom;
}

.labelcol {
    border: 0 none;
    font-weight: bold;
    line-height: 18px;
    vertical-align: top;
    white-space: nowrap;
	width: 307px;
	width: auto !ie;
	width: 307px !ie9;

}

.InfoboxPanel .labels {
	line-height: .8em;
	width: 120px !important;
}
.InfoboxPanel .values1 {
	line-height: .8em;
}

.InfoboxPanel .summary {
	line-height: normal !important;
}

.infobox-body {
    background-color: White;
    border: none;
    line-height: normal !important;
    padding: 0px;
}

.InfoboxPanel {
    background-color: #F8F8F8;
    overflow: hidden;
	padding: 2px;
	border: 1px solid #2CA8C2;
	width: 690px;
}

#pnlPagerTotals
{
   color:#000000;
    float: right;
    font-size:11px;
   font-weight: normal;
    margin-right: 10px;
}

#pnlMapView { height:444px !important; }
.MicrosoftMap { height:444px !important; }

#BidRow { font-weight: bold; }
#StartDateRow { color: red; font-weight: bold; white-space: nowrap; }
#StartDateLabel, #TimeRemainingRow, #BidLabel { color: #333333; font-weight: normal; }
.TimeRemainingValue { font-style: italic; font-weight: bold; }
.clock-label { font-size: 9px; }
.count-down-clock-red { color: red; }
.AuctionEnding { color: red !important; }
#rcmPaging  { display: none; }

#RcmEngineContent {
	background-color: #ffffff;
	background-repeat: repeat-x;
	background-position: 0px top;
	padding-bottom: 25px;
	width: 940px;
	margin: 0 auto;
}
.rcmTopListingsTotal {
	margin: 2px 5px 0 0;
	font-size: 75%;
	color: #999999;
}
.ui-dialog, .ui-dialog .ui-widget { font-size: 11pt; }
.tech-supp-form { box-sizing: content-box; }
.tech-supp-form *, .tech-supp-form *::before, .tech-supp-form *::after {
    box-sizing: content-box;
}

.bidding-panel tbody tr:nth-child(2n+1) {
    background-color: transparent;
}
.menu-text { font-size: 14px;
    line-height: 1.4; font-family: "myriad-pro-n3","myriad-pro",sans-serif;}